certifi==2018.1.18
chardet==3.0.4
cycler==0.10.0
idna==2.6
matplotlib==2.1.2
numpy==1.14.1
pipenv==11.9.0
pyparsing==2.2.0
pyTelegramBotAPI==3.6.2
python-dateutil==2.6.1
pytz==2018.3
requests==2.18.4
scipy==1.0.0
six==1.11.0
urllib3==1.26.5
virtualenv==15.2.0
virtualenv-clone==0.3.0
